@charset "UTF-8";

/* Look for everything within the body tag. */
body{
    background-image: linear-gradient(to bottom, #2E3E50, #E0E0E0); /* This is used mainly for the background coloring, behind the main section of the page. */
    font-family: Tahoma, Geneva, Verdana, sans-serif; /* Use a font family to support different browser fonts, in case one of them isn't.*/
}

/* Look for all images within the page. */
img{
    object-fit: contain; /* This particular declaration allows images to be contained within its borders, unstretched. */
}

/*  Styles for the About Page

    This stylesheet only contains the unique elements from the About page. Any elements like the heading banner, nav bar,
    and footer will be contained in 'homestyle.css', which removes any redundancy.

    All selections are placed in the style sheet in it's respective vertical order. E.g., if the footer was at the bottom
    of the page, it will be at the bottom of this stylesheet. 
*/

/* STYLES FOR THE BODY OF THE ABOUT PAGE */
#aboutme-body-wrapper article p{
    margin-left: 10px;
    font-size:   20px;
    color:#E0E0E0
}

#aboutme-body-wrapper article section header{
    background-color:#2B7DA4
}

#aboutme-body-wrapper article h2{
    margin-left: 10px;
    color:#E0E0E0
}

#aboutme-body-wrapper article section h3{
    color:#E0E0E0;
    margin-left: 10px;
}

#aboutme-body-wrapper #body-wrapper-images img{
    width:300px;
    height:175px;

    margin-right: 15px;
    margin-top:   50px;

    float:right;
    background-color: white;
    border: 1px solid black;
}

#aboutme-body-wrapper figure video{
    width:  935px;
    height: 525px;

    float:left;
    margin-left: -30px;
    margin-top:    0px;

    background-color: white;
    border: 1px solid black;
}
/* END OF BODY WRAPPER DIV STYLING */