@charset "UTF-8";

/* Look for everything within the body tag. */
body{
    background-image: linear-gradient(to bottom, black, white 200%); /* This is used mainly for the background coloring, behind the main section of the page. */
    font-family: Tahoma, Geneva, Verdana, sans-serif; /* Use a font family to support different browser fonts, in case one of them isn't.*/
}

/* Look for all images within the page. */
img{
    object-fit: contain;
}

/*  Styles for the Contact Page

    This stylesheet only contains the unique elements from the Contact page. Any elements like the heading banner, nav bar,
    and footer will be contained in 'homestyle.css', which removes any redundancy.

    All selections are placed in the style sheet in it's respective vertical order. E.g., if the footer was at the bottom
    of the page, it will be at the bottom of this stylesheet. 
*/


/* STYLES FOR THE FORM OF THE PAGE */
#form-wrapper{
    width: 960px;
    height:500px;

    float:left;
    text-align: center;
}

#form-container{
    width: 550px;
    height: 600px;

    margin-left: 200px;
    border: 1px solid #E0E0E0;
    background-color: #2B7DA4;

    border-radius: 2%
}

#form-wrapper header{
    text-align: center;

    width:960px;
    height:85px;

    margin-top:10px;
    margin-bottom: 50px;

    color: #E0E0E0;
    background-color: #2B7DA4;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}

#form-wrapper header h1{
    margin-top: 0px;
}

#form-wrapper .form-field label{
    font-size: 20px;
    display:block;

    margin-left: 0px;
    padding:10px;

    text-align:center;
    color: #e0e0e0
}

#form-wrapper .form-field textarea{
    min-width:  520px;
    max-width:  520px;

    min-height: 50px;
    max-height: 200px;

    margin-top:-10px;
}

#form-wrapper #submit-button input{
    width: 200px;
    height:35px;
    float:right;
    margin-right: 12px;
}
/* END OF FORM WRAPPER STYLING */