@charset "UTF-8";

/* Look for everything within the body tag. */
body{
    background-image: linear-gradient(to bottom, #2E3E50, #E0E0E0); /* This is used mainly for the background coloring, behind the main section of the page. */
    font-family: Tahoma, Geneva, Verdana, sans-serif; /* Use a font family to support different browser fonts, in case one of them isn't.*/
}

/* Look for all images within the page. */
img{
     object-fit: contain; /* This particular declaration allows images to be contained within its borders, unstretched. */
}

/*  Styles for the Home Page

    These particular styles also account for both the top banner (My name, image, navigation bar) and the footer,
    which will be used constantly throughout each page. Otherwise, unique elements for each page are kept in their own
    stylesheets.

    All selections are placed in the style sheet in it's respective vertical order. E.g., if the footer was at the bottom
    of the page, it will be at the bottom of this stylesheet. 
    
    Much of the documentation in this stylesheet will more so look into positions, pseudo-classes and other 
    uncommon declarations (e.g., text-align, min-height, clear). Since widths, heights, margins, etc.. can be arbitrarily
    chosen to fit in where I need the elements to be.
*/

/* This is styling for the main part of the entire main part of the page as a singular wrapper. 
   This page wrapper is what keeps all contained information.
*/
#page-wrapper{
    width:  960px;       /* All info kept within 960px width and at least fit the 960px grid style.*/
    min-height: 1024px;  /* Where each device will have to scroll through at least 1024px (in height) for the entire page */

    margin: auto;        /* I want to center the page, so let the browser calculate the margins */

    background-color: #2E3E50; /* Set a generic color, despite having a linear gradient */
    border: 1px solid #E0E0E0; /* A slight border, in order to make it stand out from the page */
}

/* STYLES FOR THE BANNER (TOP OF PAGE), INCLUDING NAVIGATION */
#banner-wrapper{
    width:  960px;
    height: 120px;

    margin-top:   5px;
    margin-left:  5px;
    margin:       auto;

    border-bottom:    1px solid #E0E0E0;
    background-color: #E0E0E0;
}

#banner-wrapper .header-text header{
    width:887px;
    margin-right: 0px;
    float: right;

    color:#E0E0E0;
    background-color: #2E3E50
}

#banner-wrapper .header-text header h1{
    margin-left: 70px;
}

#banner-wrapper .header-text header p{
    margin-left: 70px;
}

#banner-wrapper .header-image img{
    /* Allow overlap with other elements (i.e., the navigation div.) */
    position: absolute;
    width:  105px;
    height: 100px;
    float: left;

    margin-top: -110px;
    margin-left: 20px;

    background-color: #2E3E50;
    
    border-radius: 45%;
    background-image: linear-gradient(90deg, #2E3E50 50%, #E0E0E0 50%); /* Create an angled, linear gradient which is flipped about 90 degrees. */
}

#page-wrapper .nav-section .box{
    /* Center the text within each box of the navigation bar. */
    text-align: center;

    width:  155px;
    height: 15px;

    margin-top:   10px;
    margin-right:  5px;

    float:right;

    padding-left:   18px;
    padding-top:     0px;
    padding-bottom: 15px;
    padding-right:  35px;

    background-color: #D94A64;
    border: 1px solid #E0E0E0;
    
    /* This will be used in order to transform the box when it hovers. 
       In this case, it will take 0.35s to ease both in and out.
    */
    transition: 0.35s ease;
    font-size:  24px;
}

/* This is the transformation used. We use a :hover state pseudoclass
   to change the background color of the box class div.
*/
#page-wrapper .nav-section .box:hover{
    background-color: #2E3E50;
}

/* A link state of the navigation link. It changes the color of when it's in its normal or visited state.*/
#page-wrapper .nav-section .box a:link, #page-wrapper .nav-section .box a:visited{
    color:#E0E0E0
}

#page-wrapper #box-filler{
    width:   55px;
    height:  75px;
    
    margin-top:  -32px;
    margin-left:  5px;

    padding-left:   20px;
    padding-top:     0px;
    padding-bottom: 15px;
    padding-right:  12px;
    float:          left;

    background-color: #D94A64;
    border: 1px solid #E0E0E0;
}

#page-wrapper #box-filler img{
    /* Again, I just want to stick the image where it is, over the box. */
    position:absolute;

    width: 90px;
    margin-left: -20px;
    float:left;
}

#page-indicator-box{
    width:853px;
    height:48px;

    margin-top: 9px;
    margin-right: 5px;
    background-color: #D94A64;
    border: 1px solid #E0E0E0;
    float:right;
}

#page-indicator-box h2{
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    color:#E0E0E0
}
/* END OF BANNER/NAVIGATION DIV STYLING */


/* STYLES FOR THE BODY SECTION OF THE HOME PAGE */
#body-wrapper header{
    text-align: center;

    width:960px;
    height:40px;

    margin-top:10px;

    background-color:#D94A64;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0
}

#homepage-image-jt{
    height: 200px;
    margin-top:10px;

     /* Another linear gradient, this time used for the banner that welcomes the visitor. */
    background-image: linear-gradient(to right, #2E3E50, transparent);
    background-color:#E0E0E0;
    border: 2px solid #E0E0E0;
}

#homepage-image-jt img{
    position: relative;
    width:  960px;
    height: 200px;
    margin-left: 300px;
}

#jt-banner-line1{
    position: absolute;
    width: 960px;
    height: 140px;

    margin-top: 30px;
    margin-left:2px;
    
    background-color:#2E3E50
}

#body-wrapper #jt-banner-line1 h1{
    text-align: left;

    width: 960px;
    height: 40px;

    margin-top: 40px;
    margin-left: 10px;

    color:#E0E0E0;
    font-size:52px;
} 

#body-wrapper header h1{
    margin: 0px;
    color: #E0E0E0
}

#body-wrapper article section p{
    margin-left: 10px;
    font-size:   20px;
    color:#E0E0E0
}

#body-wrapper article section h2{
    margin-left: 10px;
    color:#E0E0E0
}

#body-wrapper article h3{
    margin-left: 10px;
    color:#E0E0E0
}

#body-wrapper #img-projects-wrapper figure{
    width:  300px;
    height: 100px;

    margin:       3px;
    padding-left: 11px;
    float:left;

    background-color:#2B7DA4;
    border: 1px solid #E0E0E0;
}

#body-wrapper #img-projects-wrapper figure img{
    width: 300px;
    height: 60px;

    margin-top: 10px;
}

#body-wrapper #img-projects-wrapper figcaption{
    text-align: center;
    margin-right:10px;

    color:#E0E0E0
}

#body-wrapper #about-img-wrapper img{
    width: 275px;
    height: 175px;

    margin-top: -120px;
    margin-right: 40px;

    background-color: #2B7DA4;
    border: 1px solid #E0E0E0;
    float:right;
}
/* END OF BODY WRAPPER DIV STYLING */


/* STYLES FOR THE FOOTER SECTION OF THE HOME PAGE */
#footer-wrapper footer{
    width:  960px; 
    height: 60px;

    margin-top: 5px;
    margin: auto;

    background: #E0E0E0;
    border: 1px solid #E0E0E0
}

#footer-wrapper footer .footer-nav{
    margin-top: 10px;
}

#footer-wrapper h2{
    margin-left: 5px;
}

#footer-wrapper .copyright{
    font-size: 20px;
    position:absolute;

    margin-left: 10px;
    margin-top: -15px;
    float:left;
}

#footer-wrapper .copyright p{
    font-size:16px;
    margin-top:25px;
    color:#2E3E50
}

#footer-wrapper .footer-nav{
    position:relative;
    float:right;
    margin-right: 15px;
    margin-top: -10px;
    font-size: 20px;
}

#footer-wrapper .footer-nav a:link, #footer-wrapper .footer-nav a:visited{
    color: #2E3E50
}
/* END OF FOOTER WRAPPER DIV STYLING */

/* This is a class mainly for clearing the inherited floats that might come after some element on the page. */
.clear{
    clear:both /* Clear the left and right floats of the page. */
}