@charset "UTF-8";

/* Look for everything within the body tag. */
body{
    background-image: linear-gradient(to bottom, #2E3E50, #E0E0E0); /* This is used mainly for the background coloring, behind the main section of the page. */
    font-family: Tahoma, Geneva, Verdana, sans-serif; /* Use a font family to support different browser fonts, in case one of them isn't.*/
}

/* Look for all images within the page. */
img{
    object-fit: contain; /* This particular declaration allows images to be contained within its borders, unstretched. */
}

/*  Styles for the Project Page

    This stylesheet only contains the unique elements from the project page. Any elements like the heading banner, nav bar,
    and footer will be contained in 'homestyle.css', which removes any redundancy.

    All selections are placed in the style sheet in it's respective vertical order. E.g., if the footer was at the bottom
    of the page, it will be at the bottom of this stylesheet. 
*/

/* STYLES FOR THE PROJECTS OF THE PROJECT PAGE */
#page-wrapper .project-img-box img{
    width:240px;
    height:170px;

    margin-top: 20px;
    margin-left: 20px;

    background-color: #2B7DA4;
    border: 1px solid #E0E0E0;
}

#page-wrapper .project-article-wrapper h2{
    position:absolute;
    float:left;

    margin-left: 275px;
    padding:3px;

    background-color: #2B7DA4;
    border: 1px solid #E0E0E0;
    color:#E0E0E0;
}

#page-wrapper .project-article-wrapper p{
    position:absolute;
    float:left;

    font-size: 20px;

    margin-top:65px;
    margin-left: 285px;

    color: #E0E0E0
}
/* END OF PROJECT STYLING */