@charset "UTF-8";

body{
    background-image: linear-gradient(to bottom, #2E3E50, #E0E0E0);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

img{
    object-fit: contain;
}

#page-wrapper .project-img-box img{
    width:240px;
    height:170px;

    margin-top: 20px;
    margin-left: 20px;

    background-color: #2B7DA4;
    border: 1px solid #E0E0E0;
}

#page-wrapper .project-article-wrapper h2{
    position:absolute;
    float:left;

    margin-left: 275px;
    padding:3px;

    background-color: #2B7DA4;
    border: 1px solid #E0E0E0;
    color:#E0E0E0;
}

#page-wrapper .project-article-wrapper p{
    position:absolute;
    float:left;

    font-size: 20px;

    margin-top:65px;
    margin-left: 285px;

    color: #E0E0E0
}

#footer-wrapper footer{
    width:  960px; 
    height: 60px;

    margin-top: 5px;
    margin: auto;

    background: #E0E0E0;
    border: 1px solid #E0E0E0
}

#footer-wrapper h2{
    margin-left: 5px;
}

#footer-wrapper .copyright{
    font-size: 20px;
    position:absolute;

    margin-left: 10px;
    margin-top: -15px;
    float:left;
}

#footer-wrapper .copyright h6 p{
    color:#2E3E50
}

#footer-wrapper .footer-nav{
    position:relative;
    float:right;
    margin-right: 15px;
    margin-top: -10px;
    font-size: 20px;
}

#footer-wrapper .footer-nav a:link, #footer-wrapper .footer-nav a:visited{
    color: #2E3E50
}

.clear{
    clear:both
}