@charset "UTF-8";

body{
    background-image: linear-gradient(to bottom, black, white 200%);
}
img{
    object-fit: contain;
}
/* Styles for the Home Page Banner Section*/
#page-wrapper{
    width:  960px;
    height: 1024px;

    margin: auto;

    background-color: aquamarine;
    border: 1px solid black;
}

#banner-wrapper{
    width:  960px;
    height: 120px;

    margin-top:   5px;
    margin-left:  5px;
    margin:       auto;

    border-bottom:    1px solid black;
    background-color: beige;
}

#banner-wrapper img{
    width:  100px;
    height: 100px;
    position: absolute; /* Allow overlap with other elements (i.e., the navigation div.) */

    margin-top:  -100px;
    margin-left: 20px;
}

/* Class Styles for the Home Page */
.header-text header{
    float: right;
    margin-right:  140px;
}

#page-wrapper .nav-section .box{
    text-align: center;

    width:  150px;
    height: 15px;

    margin-top:   10px;
    margin-right:  5px;

    padding-left:   18px;
    padding-top:     0px;
    padding-bottom: 15px;
    padding-right:  35px;
    float:          right;

    background-color: turquoise;
    border: 1px solid black;

    transition: 0.35s ease;
    font-size:  24px
}

#page-wrapper .box-filler{
    width:   75px;
    height: 75px;
    
    margin-top:  10px;
    margin-left:  5px;

    padding-left:   20px;
    padding-top:     0px;
    padding-bottom: 15px;
    padding-right:  12px;
    float:          left;

    background-color: turquoise;
    border: 1px solid black;
}

/* ONLY FOR COMPUTERS */
#page-wrapper .nav-section .box:hover {
    background-color: white;
}

/* Styles for the Contact Page Form Section*/
#form-wrapper{
    width: 960px;
    height:500px;

    float:left;
    text-align: center;
}

#form-wrapper header{
    text-align: center;

    width:960px;
    height:85px;

    margin-top:10px;
    margin-bottom: 50px;

    background-color:white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#form-wrapper header h1{
    margin-top: 0px;
}

#form-wrapper .form-field label{
    font-size: 20px;
    display:block;
    padding:10px;

    text-align:left;
    margin-left: 220px;
}

#form-wrapper .form-field textarea{
    min-width:  510px;
    max-height: 250px;
    max-width:  510px;

    margin-top:-10px;
}

#form-wrapper #submit-button input{
    width: 200px;
    height:35px;
    float:right;
    margin-right: 225px;

}

#footer-wrapper footer{
    width:  960px; 
    height: 60px;

    margin-top: 5px;
    margin: auto;

    background: beige;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

#footer-wrapper h2{
    margin-left: 5px;
}

#footer-wrapper .copyright{
    font-size: 20px;
    position:absolute;

    margin-left: 10px;
    float:left;
}

#footer-wrapper .footer-nav{
    position:relative;
    float:right;
    margin-right: 15px;
    margin-top: -10px;
    font-size: 20px;
}

.clear{
    clear:both
}