@charset "UTF-8";

body{
    background-image: linear-gradient(to bottom, #2E3E50, #E0E0E0);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

img{
    object-fit: contain;
}

/* Styles for the Home Page Banner Section*/
#page-wrapper{
    width:  960px;
    min-height: 1024px;

    margin: auto;

    background-color: #2E3E50;
    border: 1px solid #E0E0E0;
}

#banner-wrapper{
    width:  960px;
    height: 120px;

    margin-top:   5px;
    margin-left:  5px;
    margin:       auto;

    border-bottom:    1px solid #E0E0E0;
    background-color: #E0E0E0;
}

#banner-wrapper .header-text header{
    width:880px;
    margin-right: 0px;
    float: right;

    color:#E0E0E0;
    background-color: #2E3E50
}

#banner-wrapper .header-text header h1{
    margin-left: 70px;
}

#banner-wrapper .header-text header p{
    margin-left: 70px;
}

#banner-wrapper .header-image img{
    width:  105px;
    height: 100px;
    float: left;
    position: absolute; /* Allow overlap with other elements (i.e., the navigation div.) */

    margin-top: -110px;
    margin-left: 20px;

    background-color: #2E3E50;
    border: 1px solid #E0E0E0;
    
    border-radius: 45%;
    background-image: linear-gradient(135deg, #2E3E50 50%, #E0E0E0 50%);
}

#page-wrapper .nav-section .box{
    text-align: center;

    width:  155px;
    height: 15px;

    margin-top:   10px;
    margin-right:  5px;

    float:right;

    padding-left:   18px;
    padding-top:     0px;
    padding-bottom: 15px;
    padding-right:  35px;

    background-color: #D94A64;
    border: 1px solid #E0E0E0;

    transition: 0.35s ease;
    font-size:  24px;
}

#page-wrapper .nav-section .box a:link{
    color:#E0E0E0
}

#page-wrapper .nav-section .box a:visited{
    color:#E0E0E0
}

#page-wrapper .box-filler{
    width:   55px;
    height:  75px;
    
    margin-top:  10px;
    margin-left:  5px;

    padding-left:   20px;
    padding-top:     0px;
    padding-bottom: 15px;
    padding-right:  12px;
    float:          left;

    background-color: #D94A64;
    border: 1px solid #E0E0E0;
}

#page-wrapper .box-filler img{
    position:absolute;

    width: 90px;
    margin-left: -20px;
    float:left;
    overflow:hidden;
}

#page-indicator-box{
    position: relative;
    
    width:853px;
    height:48px;

    margin-top: -50px;
    margin-right: 5px;
    background-color: #D94A64;
    border: 1px solid #E0E0E0;
    float:right
}

#page-indicator-box h2{
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    color:#E0E0E0
}

/* ONLY FOR COMPUTERS */
#page-wrapper .nav-section .box:hover{
    background-color: #2E3E50;
}

/* Styles for the Home Page Body Section*/
#body-wrapper header{
    text-align: center;

    width:960px;
    height:40px;

    margin-top:10px;

    background-color:#D94A64;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0
}

#about-page-image{
    height: 200px;
    margin-top:10px;
    background-color:white;
}

#about-page-image img{
    width:  960px;
    height: 200px;
    background-color: #E0E0E0
}

#body-wrapper header h1{
    margin: 0px;
    color: #E0E0E0
}

#body-wrapper article section p{
    margin-left: 10px;
    font-size:   20px;
    color:#E0E0E0
}

#body-wrapper article section h2{
    margin-left: 10px;
    color:#E0E0E0
}

#body-wrapper #img-projects-wrapper figure{
    width:  300px;
    height: 100px;

    margin:       3px;
    padding-left: 11px;
    float:left;

    background-color:#2B7DA4;
    border: 1px solid #E0E0E0;
}

#body-wrapper #img-projects-wrapper figure img{
    width: 300px;
    height: 60px;

    margin-top: 10px;
}

#body-wrapper #img-projects-wrapper figcaption{
    position: bottom;
    text-align: center;
    margin-right:10px;

    color:#E0E0E0
}

#body-wrapper #about-img-wrapper img{
    width: 275px;
    height: 175px;

    margin-top: -120px;
    margin-right: 40px;

    background-color: #2B7DA4;
    border: 1px solid #E0E0E0;
    float:right;
}

#footer-wrapper footer{
    width:  960px; 
    height: 60px;

    margin-top: 5px;
    margin: auto;

    background: #E0E0E0;
    border: 1px solid #E0E0E0
}

#footer-wrapper h2{
    margin-left: 5px;
}

#footer-wrapper .copyright{
    font-size: 20px;
    position:absolute;

    margin-left: 10px;
    margin-top: -15px;
    float:left;
}

#footer-wrapper .copyright h6 p{
    color:#2E3E50
}

#footer-wrapper .footer-nav{
    position:relative;
    float:right;
    margin-right: 15px;
    margin-top: -10px;
    font-size: 20px;
}

#footer-wrapper .footer-nav a:link, #footer-wrapper .footer-nav a:visited{
    color: #2E3E50
}

.clear{
    clear:both
}