@charset "UTF-8";

body{
    background-image: linear-gradient(to bottom, #2E3E50, #E0E0E0);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

img{
    object-fit: contain;
}

/* Styles for the Home Page Banner Section*/
#page-wrapper{
    width:  100%;
    min-height: 1024px;

    margin: auto;

    background-color: #2E3E50;
    border: 1px solid #E0E0E0;
}

#banner-wrapper{
    width:  100%;
    height: 180px;

    margin-top:   5px;
    margin-left:  5px;
    margin:       auto;

    border-bottom:    1px solid #E0E0E0;
    background-color: #E0E0E0;
}

#banner-wrapper .header-text header{
    width: 100%;
    margin-right: 0px;
    float: left;

    color:#E0E0E0;
    background-color: #2E3E50
}

#banner-wrapper .header-text header h1{
    float: left;
    margin-left: 70px;
}

#banner-wrapper .header-text header p{
    float: left;
    margin-left: 70px;
}

#banner-wrapper .header-image img{
    display: none;
}

#page-wrapper .nav-section .box{
    text-align: center;

    width:  50%;
    height: 25px;

    margin-top:   10px;
    margin-right:  5px;
    margin-left: 50px;

    float: left;

    padding-left:   18px;
    padding-top:     0px;
    padding-bottom: 15px;
    padding-right:  35px;

    background-color: #D94A64;
    border: 1px solid #E0E0E0;

    transition: 0.35s ease;
    font-size:  24px;
}

#page-wrapper .nav-section .box a:link{
    color:#E0E0E0
}

#page-wrapper .nav-section .box a:visited{
    color:#E0E0E0
}

#page-wrapper .box-filler{
    display: none;
}

#page-indicator-box{
    display: none;
}

#page-indicator-box h2{
    display: none;
}

/* Styles for the Home Page Body Section*/
#body-wrapper header{
    text-align: center;

    width:100%;
    height:40px;

    margin-top:10px;

    background-color:#D94A64;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0
}

#about-page-image{
    height: 200px;
    margin-top:10px;
    background-color:white;
}

#about-page-image img{
    width:  100%;
    height: 200px;
    background-color: #E0E0E0
}

#body-wrapper header h1{
    margin: 0px;
    color: #E0E0E0
}

#body-wrapper article section p{
    margin-left: 10px;
    font-size:   20px;
    color:#E0E0E0
}

#body-wrapper article section h2{
    margin-left: 10px;
    color:#E0E0E0
}

#body-wrapper #img-projects-wrapper figure{
    width:  95%;
    height: 125px;

    margin:       3px;
    padding-left: 11px;
    float: left;

    background-color:#2B7DA4;
    border: 1px solid #E0E0E0;
}

#body-wrapper #img-projects-wrapper figure img{
    width: 100%;
    height: 70px;

    margin-top: 20px;
    color:#E0E0E0
}

#body-wrapper #img-projects-wrapper figcaption{
    text-align: center;
    margin-right:10px;
    color:#E0E0E0
}

#body-wrapper #about-img-wrapper img{
    display: none;
}

#footer-wrapper footer{
    width:  100%; 
    height: 100px;

    margin-top: 5px;
    margin: auto;

    background: #E0E0E0;
    border: 1px solid #E0E0E0
}

#footer-wrapper h2{
    margin-left: 5px;
}

#footer-wrapper .footer-nav{
    width: 100%;
    text-align: center;
    font-size: 125%;
    margin-top: -10px;
}

#footer-wrapper .copyright{
    width: 100%;
    text-align: center;
    font-size:  125%;
}

#footer-wrapper .footer-nav a:link, #footer-wrapper .footer-nav a:visited{
    color: #2E3E50
}

.clear{
    clear:both
}