@charset "UTF-8";

body{
    background-image: linear-gradient(to bottom, #2E3E50, #E0E0E0);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
img{
    object-fit: contain;
}

#aboutme-body-wrapper article section p{
    margin-left: 10px;
    font-size:   20px;
    color:#E0E0E0
}

#aboutme-body-wrapper article section header{
    background-color:#2B7DA4
}

#aboutme-body-wrapper article section h1{
    margin-left: 10px;
    color:#E0E0E0
}

#aboutme-body-wrapper #body-wrapper-images img{
    width:300px;
    height:175px;

    margin-right: 15px;
    margin-top:   50px;

    float:right;
    background-color: white;
    border: 1px solid black;
}

#aboutme-body-wrapper figure video{
    width:  935px;
    height: 525px;

    float:left;
    margin-left: -30px;
    margin-top:    0px;

    background-color: white;
    border: 1px solid black;
}

#footer-wrapper footer{
    width:  960px; 
    height: 60px;

    margin-top: 5px;
    margin: auto;

    background: #E0E0E0;
    border: 1px solid #E0E0E0
}

#footer-wrapper h2{
    margin-left: 5px;
}

#footer-wrapper .copyright{
    font-size: 20px;
    position:absolute;

    margin-left: 10px;
    margin-top: -15px;
    float:left;
}

#footer-wrapper .copyright h6 p{
    color:#2E3E50
}

#footer-wrapper .footer-nav{
    position:relative;
    float:right;
    margin-right: 15px;
    margin-top: -10px;
    font-size: 20px;
}

#footer-wrapper .footer-nav a:link, #footer-wrapper .footer-nav a:visited{
    color: #2E3E50
}

.clear{
    clear:both
}